  <header class="header">
    <h1 id="neon">[ SAVED ARTICLES ]</h1>
    <nav class="button-group">
      <a href="/"><button class="button-dark">Home</button></a>
    </nav>
  </header>
  <div class="filler"></div>

  {{!-- #each to iterate through articles and create article panels --}}
  {{#each articles}}
    {{#if saved}}
      <figure class="storyPanel clearfix">
        <a href="{{storyUrl}}" class="pull-right" target="_blank">
          <div class="imgBox">
            <img src="{{imgUrl}}" alt="" class="storyImg" height="150">
          </div>
        </a>
        {{#if storyUrl}}
          <a href="{{storyUrl}}" class="storyLink" target="_blank">
            <h2 class="storyHeadline">{{headline}}</h2>
          </a>
        {{else}}
          <h3 class="storyHeadline">{{headline}}</h3>
        {{/if}}
        <h5 class="storyByline">{{byLine}}</h5>
        <h6 class="storySummary">{{summary}}</h6>
        <button class="addNote storyButton" data-id="{{_id}}">Add Note</button>
        <button class="deleteArticle storyButton" data-id="{{_id}}">Delete Article</button>
      </figure>
    {{/if}}
  {{/each}}

  {{!-- modal for displaying and creating notes --}}
  <div id="noteModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">Add a note</h4>
        </div>
        <div class="modal-body">
          <input type="text" id="noteTitleEntry" class="noteInput" placeholder="Enter Title">
          <input type="text" id="noteBodyEntry" class="noteInput" placeholder="Enter Body">
          <div id="noteArea"></div>
        </div>
        <div class="modal-footer">
          <h5 class="instructions">Click the note to read it, or X to delete</h5>
          <button type="button" id="submitNote">Save Note</button>
        </div>
      </div>
    </div>
  </div>

  {{!-- error modal --}}
  <div id="error" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <h2>There was an error processing your request.  Please try again later.</h2>
        </div>
      </div>
    </div>
  </div>
